// Real low-level basics, such as resets and styles for the html and body element selectors.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* changes box model so that border and padding are no longer added to total width and total height specified for box */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  // @include respond(phone) {
  //   font-size: 30%;
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

